// Colors
@background-color: #e4e5e7;
@button-color: #2754eb;
@light-grey-color: #f0f2f7;
@check-color: #00e2aa;
@footer-color: #222328;
@font-color: #343e5c;
@font-grey-color: #b9bed1;
@footer-h-color: #222328;
@white-color: #fff;
@links-color: #4169ed;
@grey_color_line: #f2f2f2;
@h2-color: #1c1e23;
@black-color: #181818;
@icon-color: #3e425a;
@label-gray-color: #e3e8f0;
@search_color: #a1a8bd;
@radio-btn-green: #00DEEA;

//Fonts
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Medium.ttf');
  font-size: 14px;
}
@font-face {
  font-family: Montserrat-black;
  src: url('../fonts/montserrat-black.ttf');
  font-size: 14px;
}
@font-face {
  font-family: Crimsontext-Roman;
  src: url('../fonts/crimsontext-roman.ttf');
  font-size: 14px;
}
@main-font:  'Montserrat', sans-serif;
@slider_head_font: 'Montserrat-black';
@slider_text_font: 'Crimsontext-Roman';