@import "smart-grid";
@import "project";

.reset();

.wrapper {
  .wrapper();
  overflow: hidden;
}

/* Debug */
.grid_debug {
  //.debug(rgba(0, 0, 0, 0.2), 0.5px solid red);
}

p, a {
  font-family: @main-font;
  font-size: 14px;
}

a {
  color: @links-color;
}

img {
  max-width: 100%;
}

/** HEADER **/
header {
  background-color: @white-color;

  /* Header-top */
  .header-top {
    min-height: 90px;
    border-bottom: 1px solid @light-grey-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 115px;

    // Logo
    .logo {
      display: flex;
      align-items: center;

      .logo-img {
        width: 92px;
        height: 25px;
        background-image: url('../img/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px;
        box-sizing: border-box;
      }
    }

    // Navigation
    nav {
      min-height: 90px;
      display: flex;
      align-items: center;
      margin-left: auto;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          display: inline-block;
          padding: 10px 15px;

          a {
            font-family: @main-font;
            color: @font-color;
            font-size: 16px;
            text-decoration: none;
            font-weight: 400;
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    // Shop-cart
    .shop-cart-box {
      min-height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-family: @main-font;
      color: @font-color;
      margin-left: auto;
      margin-right: 40px;

      .shop-cart {
        padding: 5px;
        margin: 0 3px;
      }

      .shop-cart_icon {
        i {
          font-size: 20px;
        }
      }

      .shop-cart_products {
        font-size: 11px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: @label-gray-color;
        text-align: center;
        line-height: 1.2;
      }
    }

    // Sign button
    .sign-button {
      border-radius: 16px;
      border: 2px solid @label-gray-color;
      padding: 5px 15px;

      a {
        color: @font-color;
        font-family: @main-font;
        font-size: 11px;
        text-decoration: none;
      }
    }
  }

  /* Header-bottom */
  .header-bottom {
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 115px;

    // Links
    .links {

      a.link {
        padding: 5px 10px;
        font-family: @main-font;
        color: @font-grey-color;
        text-decoration: none;

        &.active {
          color: @font-color;
        }

        &:hover {
          color: @font-color;
        }
      }
    }

    // Search
    .search-block {
      min-height: 56px;
      padding: 15px 0 15px 40px;
      text-align: center;
      box-sizing: border-box;
      border-left: 1px solid #f0f2f7;
      border-right: 1px solid #f0f2f7;

      i.fa {
        vertical-align: middle;
        padding: 0 5px;
      }

      input {
        border: none;
        color: @font-color;
        font-family: @main-font;
        vertical-align: middle;
      }
    }
  }
}

/***   Slider    ***/

section.slider {
  height: 500px;
  background-color: @black-color;

  .wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    max-height: 100%;

    .info-block {
      padding: 60px;
      box-sizing: border-box;
      width: 55%;

      span {
        display: block;
        margin-bottom: 20px;
      }

      .slider-text_header {
        font-size: 42px;
        color: @white-color;
        font-family: @slider_head_font;
        font-weight: 900;
        margin-top: 50px;
        width: 65%;
      }

      .slider-text_cont {
        font-size: 16px;
        color: @white-color;
        font-family: @slider_text_font;
        width: 75%;
      }

      .btn-buy {
        display: inline-block;
        background: @button-color;
        color: @white-color;
        text-decoration: none;
        border-radius: 21px;
        font-size: 11px;
        padding: 14px 54px;
        margin-top: 40px;
        transition: all 0.1s;

        &:hover {
          box-shadow: 0 20px 40px 0 rgba(168, 173, 187, 62%);
        }
      }

    }

    .img-block {

    }

    .btn-left, .btn-right {
      width: 42px;
      height: 42px;
      border: 2px solid rgba(255, 255, 255, 20%);
      border-radius: 50%;
      position: absolute;
      top: 45%;
      box-sizing: border-box;
      line-height: 2.6;
      transition: all 0.3s;
      cursor: pointer;

      i {
        color: @white-color;
      }

      &:hover {
        transform: scale(1.07);
        i {
          text-shadow: 0 0 10px @white-color;
        }
      }
    }

    .btn-left {
      left: 100px;
      padding: 0 12px;
    }

    .btn-right {
      right: 100px;
      padding: 0 14px;
    }

    .slider-pagination {
      position: absolute;
      width: 100px;
      bottom: 30px;
      left: 45%;
      text-align: center;

      span {
        display: inline-block;
        width: 8px;
        height: 8px;
        box-sizing: border-box;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 50px;
        margin: 0 2px;
        cursor: pointer;

        &:first-child {
          background-color: @white-color;
          border: 2px solid rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

main {
  padding-top: 50px;
  background-color: @background-color;
  overflow: hidden;

  .sort-bar {
    .row-flex();
    justify-content: space-between;

    width: 100%;
    background: @white-color;
    margin: 0 0 50px 0;
    border-radius: 5px;
    font-size: 11px;
    font-family: @main-font;
    font-weight: 700;
    box-sizing: border-box;
    color: @font-color;

    .sort, .keywords_price, .shipping {
      margin: 0;
      padding: 0;
    }

    .sort {
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      box-sizing: border-box;

      .sort-name {
        color: @font-grey-color;
      }

      .sort-list {
        color: @font-color;
        div {
          display: none;
        }

        div:first-child {
          display: inline-block;
        }

        i.fa-chevron-down {
          color: @font-grey-color;
        }
      }
    }

    .keywords_price {
      width: 60%;
      border-left: 2px solid @grey_color_line;
      border-right: 2px solid @grey_color_line;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      overflow: hidden;
      box-sizing: border-box;

      .label-keywords {
        width: 40%;
        color: @font-grey-color;

        .keywords {
          width: 50%;
          margin-left: 10px;
          padding: 7px 10px;
          border-radius: 40px;
          border: 1px solid @label-gray-color;
          background: @light-grey-color;
          box-sizing: border-box;
        }
      }

      .label-price {
        width: 10%;
        color: @font-grey-color;
        text-align: center;

      }

      .price-from, .price-to {
        width: 10%;
        padding: 7px 10px;
        margin: 0 10px;
        border-radius: 40px;
        border: 1px solid @label-gray-color;
        background: @light-grey-color;
        box-sizing: border-box;
      }

      .label-free-shipping {
        width: 30%;
        text-align: center;

        .checkbox {
          display: none;
        }

        .custom_checkbox, .custom_label {
          display: inline-block;
          vertical-align: middle;
        }

        .custom_checkbox {
          position: relative;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border: 1px solid @label-gray-color;
          border-radius: 50%;
        }

        .custom_label {
          margin-left: 5px;
        }

        .checkbox:checked + .custom_checkbox::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-image: url("../img/check-box.png");
          background-position: center;
          background-size: contain;
        }
      }

    }

    .shipping {
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      box-sizing: border-box;
      color: @font-grey-color;
    }
  }
}

.container {
  .clearfix();
  margin: 0 -15px;

  aside.side-bar {
    min-width: 25%;
    float: left;
    margin: 0 15px;

    .side-menu {
      background-color: @white-color;
      border-radius: 5px;
      overflow: hidden;

      ul {

        li {
          border-bottom: 1px solid @grey_color_line;

          &:last-child {
            border: none;
          }

          &:hover {
            background-color: @light-grey-color;
          }

          a {
            font-size: 13px;
            font-family: @main-font;
            font-weight: 700;
            color: @font-color;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px 15px;
            box-sizing: border-box;

            span {
              float: right;

              i.fa {
                color: @font-grey-color;
              }
            }
          }

          ul.side-submenu {
            display: none;

            li {
              background-color: rgb(240, 242, 247);
            }
          }
        }
      }
    }
  }

  .available {
    background-color: @white-color;
    margin-top: 30px;
    border-radius: 5px;

    .available-items, .brands {
      display: block;
    }

    .available-items {
      font-family: @main-font;
      color: @font-color;
      font-size: 13px;
      font-weight: 700;

      & > span {
        display: block;
        padding: 20px;
        border-bottom: 1px solid @light-grey-color;
      }
      div {
        padding: 20px;

        label {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 10px 0;

          .check-storage, .check-online {
            display: none;
          }

          .custom-radio-btn {
            display: block;
            width: 15px;
            height: 15px;
            border: 2px solid @label-gray-color;
            border-radius: 20px;
            position: relative;
          }

          .check-storage:checked + .custom-radio-btn::before, .check-online:checked + .custom-radio-btn::before {
            content: "";
            display: block;
            position: absolute;
            left: 3px;
            top: 3px;
            right: 3px;
            bottom: 3px;
            border-radius: 20px;
            background-color: @radio-btn-green;
          }

          .label {
            margin-left: 20px;
          }

          .label + span {
            margin-left: auto;
            color: @font-grey-color;
          }
        }
      }
    }
  }

  .brands {
    .brands-title {
      padding: 20px;
      border-bottom: 1px solid @light-grey-color;
      border-top: 1px solid @light-grey-color;
      font-family: @main-font;
      color: @font-color;
      font-size: 13px;
      font-weight: 700;
      display: flex;
      align-items: center;

      a {
        text-align: right;
        margin-left: auto;
      }
    }

    .brands-items {
      padding: 15px 20px;

      label {
        display: flex;
        padding: 10px 0;
        justify-content: flex-start;
        align-items: center;
        font-family: @main-font;
        color: @font-color;
        font-size: 13px;
        font-weight: 700;

        input[type=checkbox] {
          display: none;
        }

        .custom-checkbox {
          display: block;
          width: 18px;
          height: 18px;
          position: relative;
          border: 2px solid @label-gray-color;
          border-radius: 6px;
        }

        input[type=checkbox]:checked + .custom-checkbox::before {
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-image: url("../img/check-box-2.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        .custom-checkbox + span {
          margin-left: 20px;
        }

        span:last-child {
          margin-left: auto;
          color: @font-grey-color;
        }
      }
    }
  }

  .condition {
    background-color: @white-color;
    margin-top: 30px;
    border-radius: 5px;
    font-family: @main-font;
    color: @font-color;
    font-size: 13px;
    font-weight: 700;

    .condition-title {
      padding: 20px;
      border-bottom: 1px solid @light-grey-color;
      display: flex;
      align-items: center;

      a {
        margin-left: auto;
      }
    }

    .condition-content {
      padding: 20px;

      label {
        display: flex;
        padding: 10px 0;
        justify-content: flex-start;
        align-items: center;

        input[type=checkbox] {
          display: none;
        }

        .custom-checkbox {
          display: block;
          width: 18px;
          height: 18px;
          position: relative;
          border: 2px solid @label-gray-color;
          border-radius: 6px;
        }

        input[type=checkbox]:checked + .custom-checkbox::before {
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-image: url("../img/check-box-2.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        .custom-checkbox + span {
          margin-left: 20px;
        }
      }
    }

  }

  .delivery-option {
    background-color: @white-color;
    margin-top: 30px;
    border-radius: 5px;
    font-family: @main-font;
    color: @font-color;
    font-size: 13px;
    font-weight: 700;

    & > span {
      display: block;
      padding: 20px;
      border-bottom: 1px solid @light-grey-color;
    }

    .delivery-cost {
      display: flex;
      align-items: center;

      label {
        padding: 20px;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;

        &:first-child {
          border-right: 1px solid @light-grey-color;
        }

        .delivery-radio-btn {
          display: none;
        }

        .custom-radio-btn, .label {
          display: inline-block;
          vertical-align: middle;
        }

        .custom-radio-btn {
          width: 15px;
          height: 15px;
          border: 2px solid @label-gray-color;
          border-radius: 20px;
          position: relative;
        }

        .delivery-radio-btn:checked + .custom-radio-btn::before {
          content: "";
          display: block;
          position: absolute;
          left: 3px;
          top: 3px;
          right: 3px;
          bottom: 3px;
          border-radius: 20px;
          background-color: @radio-btn-green;
        }

        .label {
          margin-left: 20px;
        }
      }
    }
  }

  section.content {
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item, .item-image {
      .size(4);
      margin: 0 15px;
      flex-grow: 1;
      flex-basis: 200px;
      background-color: @white-color;
      padding: 40px 5px;
      text-align: center;
      margin-bottom: 25px;
      box-sizing: border-box;
      border-radius: 5px;

      img {
        width: 75%;
        margin-bottom: 20px;
      }

      .item-info {
        width: 70%;
        margin: 0 auto;
        font-family: @main-font;
        font-size: 14px;

        span {
          display: block;
          padding: 5px;

          &.item-title {
            font-weight: 700;
          }

          &.item-color {
            font-size: 12px;
            color: @font-grey-color;
          }

          &.item-price {
            color: @font-color;
          }
        }
      }
    }

    .item-image{
      background-image: url("../img/nest.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 200%;
      padding: 0;
      position: relative;
      z-index: 0;
      text-align: center;

      .item-info{
        position: absolute;
        z-index: 999;
        top: 50px;
        left: 0;
        width: 100%;
        font-weight: 900;

        .item-price{
          color: @grey_color_line;
        }
      }
    }

    .item-img-big{
      .size(7);
      display: flex;
      flex-direction: column;
      margin: 0 15px;
      flex-grow: 1;
      background-color: @white-color;
      margin-bottom: 25px;
      border-radius: 5px;
      overflow: hidden;

      .bigImg{
        background-image: url("../img/jbl.jpg");
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        position: relative;

        .item-price{
          display: block;
          position: absolute;
          padding: 5px 10px;
          background-color: @black-color;
          color: @white-color;
          border-radius: 5px;
          top: 15px;
          left: 15px;
        }
      }

      .item-info{
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
        box-sizing: border-box;
        font-family: @main-font;
        color: @font-color;
        font-size: 15px;
        font-weight: 900;

        .items{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;

          span{
            padding: 5px;
          }

          .item-color{
            font-size: 11px;
            color: @font-grey-color;
          }
        }

        a{
          display: inline-block;
          text-decoration: none;
          color: @font-color;
          font-size: 12px;
          width: 150px;
          padding: 8px;
          box-sizing: border-box;
          text-align: center;
          border: 2px solid @grey_color_line;
          border-radius: 30px;

          &:hover{
            background-color: @background-color;
          }
        }
      }
    }
  }
}

.pagination{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 90px;
  background-color: @white-color;
  border-radius: 5px;
  margin-bottom: 50px;

  .btn-pg-left, .btn-pg-right{
    width:300px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #626262;
    font-size: 13px;
  }

  .pages{
    width: 100%;
    border-right: 2px solid @grey_color_line;
    border-left: 2px solid @grey_color_line;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

    a{
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      border-radius:50%;
      padding: 12px;
      box-sizing: border-box;
      margin: 0 10px;
      font-size: 14px;
      font-family: @main-font;
      font-weight: 700;
      color: #626262;
      transition: all 0.2s;

      &:hover{
        box-shadow:0 5px 15px 0 rgba(0,0,0, 0.5);
        color: @font-grey-color;
      }

      &.active{
        box-shadow:0 5px 15px 0 rgba(0,0,0, 0.5);
        color: @font-grey-color;
      }
    }
  }
}

.best-sellers{
  background-color: @white-color;
  border-radius: 5px;
  margin-bottom: 50px;

  .best-sellers-header{
    display: inline-block;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid @label-gray-color;
    text-align: center;
    box-sizing: border-box;

    span{
      font-size: 13px;
      font-family: @main-font;
      font-weight: 700;
      color: @font-color;
      line-height: 50px;
    }
  }

  .discount-items{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 14px;
    font-family: @main-font;
    font-weight: 700;
    color: @font-color;
    line-height: 50px;

    .dsc-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 200px;
      flex-grow: 1;
      padding: 20px;
      border-right: 1px solid @label-gray-color;
      box-sizing: border-box;

      &:last-child{
        border-right: none;
      }

      .dsc-item-info{
        text-align: center;

        >span{
          display: block;
          line-height: normal;
          padding: 2px 0;
          box-sizing: border-box;
          font-size: 14px;

          &.dsc-item-color{
            font-size: 11px;
            font-family: @main-font;
            font-weight: 700;
            color: @font-grey-color;
          }
        }

        .discount-block{
          span{
            display: inline-block;
            padding: 0 5px;

            &.discount{
              color: @font-grey-color;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}

section.about{
  min-height: 440px;
  padding: 50px 0;
  box-sizing: border-box;

  .team-header{
    display: block;
    text-align: center;

    span{
      width: 100%;
      display: block;
    }

    .title{
      font-family: @slider_head_font;
      color: @footer-color;
      font-size: 32px;
      font-weight: 900;
      padding: 20px 0;
    }

    .subtitle{
      font-family: @slider_text_font;
      color: @font-grey-color;
      font-style: italic;
    }
  }

  .team-members{
    display: flex;
    justify-content: center;
    padding: 50px 0;

    .team-member{
      flex-basis: 250px;
      margin: 0 50px;

      .header{
        display: flex;
        margin-bottom: 20px;

        img{
          border-radius: 50px;
          margin-right: 20px;
        }

        .info{
          span{
            display: block;
            font-family: @main-font;
            font-size: 14px;
          }

          .name{
            color: @font-color;
            font-weight: bold;
            line-height: 20px;
          }

          .occupation{
            color: @font-grey-color;
            font-style: italic;
          }
        }
      }

      .content{
        font-family: @main-font;
        color: @font-color;
        font-size: 16px;
      }
    }
  }
}

footer{
  min-height: 300px;
  background-color: @footer-color;
}